[package]
name = "git-fs"
version = "0.1.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
clap = { version = "4.5.54", features = ["derive"] }
env_logger = "0.11.8"
fuser = { version = "0.16.0", features = ["libfuse"] }
